body {
  background-color: aqua;
}
h1 {
  font-size: 60px;
  text-align: center;
  font-family: monospace;
}
h2 {
  text-align: center;
  font-size: 70px;
  margin-top: 25px;
  margin-bottom: -40px;
  font-variant-numeric: normal;
}

.mulai {
  border-block-color: red;
  writing-mode: horizontal-tb;
  padding: 10px;
  background-color: aqua;
}

.mulai:hover {
  background-color: red;
  color: white;
}

button {
  display: block;
  margin: auto;
  font-size: 20px;
  margin-top: 20px;
}

.container {
  width: 700px;
  margin: auto;
  border-radius: 20px;
  cursor: url(../img/90.png), auto;
}

.container:active {
  cursor: url(../img/palu90.png), auto;
}

.tanah {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  float: left;
  left: 120px;
}

.tanah::after {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background: url(../img/tanah.png) bottom center no-repeat;
  background-size: 100%;
  position: absolute;
  bottom: -5px;
}

.tikus {
  width: 90%;
  height: 100%;
  background: url(../img/tikus.png) bottom center no-repeat;
  background-size: 90%;
  position: absolute;
  top: 150px;
  transition: 0.3s;
  right: 45px;
}

.tanah.muncul .tikus {
  top: 0;
}
